params {
	input = 'links/B*R{1,2}.fq.gz'
        outdir = 'output'

	kneaddata_image = "biobakery/kneaddata:0.10.0"
	metaphlan_image = "https://depot.galaxyproject.org/singularity/metaphlan:4.0.6--pyhca03a8a_0"
	humann_image = 'https://depot.galaxyproject.org/singularity/humann%3A3.8--pyh7cba7a3_0'

	kneaddata_db = 'human_genome'
        metaphlan_db = 'mpa_vOct22_CHOCOPhlAnSGB_202212'
}
process.errorStrategy = 'retry'
